numpy
colorama >= 0.4.0
opencv-python
pandas
torch==1.10.1 
torchvision==0.11.2
beartype
tqdm
pandas
Pillow
scipy
torch-scatter -f https://data.pyg.org/whl/torch-1.10.0+cpu.html
torch-sparse -f https://data.pyg.org/whl/torch-1.10.0+cpu.html
torch-cluster -f https://data.pyg.org/whl/torch-1.10.0+cpu.html
torch-spline-conv -f https://data.pyg.org/whl/torch-1.10.0+cpu.html
torch-geometric -f https://data.pyg.org/whl/torch-1.10.0+cpu.html